.section-primary {
    position: relative;
    overflow: hidden;
    &__bg {
        position: relative;
        img {
            width: 100%;
            height: 44vw;
        }
        &::before {
            content: "";
            background: linear-gradient(
                172.4deg,
                rgba(0, 0, 0, 0.16) 53.87%,
                #000000 86%
            );
            width: 100%;
            height: 100%;
            position: absolute;
        }
    }
    &__content {
        position: absolute;
        left: 15.5%;
        bottom: 0;
        max-width: 50%;

        .title {
            margin-bottom: 46px;
            font-size: 64px;
            line-height: 72px;
        }

        .ticket {
            margin-bottom: 90px;
            &-link {
                border: 1px solid #fff;
                display: inline-flex;
                align-items: center;
                padding: 10px 40px;
                width: max-content;
                text-align: center;
                opacity: 85%;
            }
            &-img {
                width: 15px;
                margin-left: 4px;
            }
        }
    }
}

.section-secondary {
    &__container {
        display: grid;
        grid-template-columns: 65% 35%;
    }
    &__right {
        iframe {
            width: 100%;
            height: 100%;
        }
    }
}
